.submit-btn {
    display: flex;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: rgb(41, 41, 131);
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
    border: none;

}