:host ::ng-deep .custom-rate {
    color: #ffbb00 !important;

    .p-rating-icon {
        width: 30px;
        height: 30px;
    }

    &.disabled {
        text-align: left !important;
        width: fit-content;
        cursor: default !important;
        margin-top: 0 !important;

        .p-rating-icon {
            width: 15px;
            height: 15px;
        }
    }

    &:hover {
        color: #ffaa00 !important;

        &.disabled {
            color: #ffbb00 !important;
        }
    }
}

.p-rating {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}