.add-feedback-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 450px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    h2 {
        text-align: center;
        color: #1f2937;
        font-weight: 500;
    }

    .subtitle {
        text-align: center;
        color: #6b7280;
        font-size: 14px;
    }
}

label {
    font-size: 14px;
    color: #1f2937;
    font-weight: 500;
}

.error-message {
    color: #e4444c;
    font-size: 13px;
}